@*@{ Layout = "~/Views/Shared/_Layout.cshtml"; }*@

<div class="wrapper">
    <div class="checkout container">

        <header>
            <h1>Hi, <br>Let's test a transaction</h1>
            <p>
                Make a test payment with Braintree using a card
            </p>
        </header>

        <form id="payment-form" method="post" action="/checkouts">
            <section class="user-info-section">
                <label for="amount">
                    <div class="input-wrapper">
                        <input id="firstName" name="firstName" type="text" placeholder="First Name">
                    </div>
                </label>
                <label for="amount">
                    <div class="input-wrapper">
                        <input id="lastName" name="lastName" type="text" placeholder="Last Name">
                    </div>
                </label>
                <label for="amount">
                    <div class="input-wrapper">
                        <input id="email" name="email" type="email" placeholder="Email">
                    </div>
                </label>
                <label for="amount">
                    <div class="input-wrapper">
                        <input id="phone" name="phone" type="tel" placeholder="Phone Number">
                    </div>
                </label>
                <label for="amount">
                    <div class="input-wrapper">
                        <input id="country" name="country" type="text" placeholder="Country">
                    </div>
                </label>
                <label for="amount">
                    <div class="input-wrapper">
                        <input id="address" name="address" type="text" placeholder="Address">
                    </div>
                </label>
                <label for="amount">
                    <div class="input-wrapper">
                        <input id="city" name="city" type="text" placeholder="City">
                    </div>
                </label>
                <label for="amount">
                    <div class="input-wrapper">
                        <input id="state" name="state" type="text" placeholder="State">
                    </div>
                </label>
                <label for="amount">
                    <div class="input-wrapper">
                        <input id="zip" name="zip" type="tel" placeholder="Zip Code">
                    </div>
                </label>
                <label for="amount">
                    <div class="input-wrapper amount-wrapper">
                        <input id="amount" name="amount" type="tel" min="1" placeholder="Amount">
                    </div>
                </label>
            </section>

            <section>
                <div class="notice-wrapper">
                    @{
                        string flash = TempData["Flash"] as string;
                        if (flash != null)
                        {
                            <div class="show notice error notice-error">
                                <span class="notice-message">@flash</span>
                            </div>
                        }
                    }
                </div>

                <div class="bt-drop-in-wrapper">
                    <div id="bt-dropin"></div>
                </div>
            </section>

            <input id="nonce" name="payment_method_nonce" type="hidden" />
            <button class="button" type="submit"><span>Test Transaction</span></button>
        </form>

    </div>
</div>

<script src="https://js.braintreegateway.com/web/dropin/1.21.0/js/dropin.min.js"></script>
<script>
    var client_token = "@ViewBag.ClientToken";
    var form = document.querySelector('#payment-form');

    braintree.dropin.create({
        authorization: client_token,
        container: '#bt-dropin'
        // Add additional payment options here
    }, function (createErr, instance) {
        form.addEventListener('submit', function (event) {
            event.preventDefault();

            instance.requestPaymentMethod(function (err, payload) {
                if (err) {
                    console.log('Error', err);
                    return;
                }

                // Add the nonce to the form and submit
                document.querySelector('#nonce').value = payload.nonce;
                form.submit();
            });
        });
    });
</script>
<script src="/App_Themes/javascript/demo.js"></script>